<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Log In</title>
    <link rel="icon" type="image/x-icon" href="quizpress.ico">
    <link rel="stylesheet" href="home.css">
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, JavaScript, php, login, log in, sign in">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family:Garamond; }
    </style>
</head>

<body>
    <div>
        <h1>Enter your username and password </h1>
        <form id="loginForm" method="POST" action="{% url 'login_handler' %}">
            {% csrf_token %}
            <label for="username">Username</label><br/>
            <input id="username" type="text" name="username" required><br/>
            <label for="password">Password</label><br/>
            <input id="password" type="password" name="password" required><br/><br/>
            <button type="submit">Log In</button><br/><br/>
        </form>
        <button onclick="window.location.href='{% url 'home' %}'">Back to Home</button>
    </div>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>